saves/
journeymap/
logs/
crash-reports/
asm/
*.dll
usernamecache.json
usercache.json
betterfps.txt
backups/
mputils/
options.txt
local/
fonts/
minetweaker.log
minecraftinstance.json
modpack/
.curseclient
mods/
*.log
dumps/
llibrary/
screenshots/
servers.dat
knownkeys.txt
WailaErrorOutput.txt
config/JEI/worldSettings.cfg
assets/
enderio/dimensionalTransceiver.json
