saves/
journeymap/
logs/
crash-reports/
asm/
*.dll
usernamecache.json
usercache.json
betterfps.txt
backups/
mputils/
options.txt
local/
fonts/
minetweaker.log
enderio/
minecraftinstance.json
modpack/
.curseclient
mods/
