# Configuration file

"general config" {
    # If this is enabled players can give animals such as horses genes with the metal syringe [default: false]
    B:"Allow giving other entities genes"=false

    # Setting this to true will enable players being able to take the blood of other players and get all the genes from it. [default: false]
    B:"Enable Gene Sharing"=false

    # Better keep some back up syringes if this is set to false. [default: true]
    B:"Keep genes on death"=true
}


##########################################################################################################
# genes
#--------------------------------------------------------------------------------------------------------#
# Set any values to false to disable that gene.
##########################################################################################################

genes {
    #  [default: true]
    B:"Dragon's Breath"=true

    #  [default: true]
    B:"Eat Grass"=true

    #  [default: true]
    B:"Emerald Heart"=true

    #  [default: true]
    B:"Ender Dragon Health"=true

    #  [default: true]
    B:"Explosive Exit"=true

    #  [default: true]
    B:Fire-Proof=true

    #  [default: true]
    B:Flight=true

    #  [default: true]
    B:"Item Attraction Field"=true

    #  [default: true]
    B:"Jump Boost"=true

    #  [default: true]
    B:"Keep Inventory"=true

    #  [default: true]
    B:Milky=true

    #  [default: true]
    B:"More Hearts"=true

    #  [default: true]
    B:"Night Vision"=true

    #  [default: true]
    B:"No Fall Damage"=true

    #  [default: true]
    B:"Poison Proof"=true

    #  [default: true]
    B:Resistance=true

    #  [default: true]
    B:"Scare Creepers"=true

    #  [default: true]
    B:"Shoot Fireballs"=true

    #  [default: true]
    B:Slimy=true

    #  [default: true]
    B:Speed=true

    #  [default: true]
    B:Strength=true

    #  [default: true]
    B:Teleporter=true

    #  [default: true]
    B:"Water Breathing"=true

    #  [default: true]
    B:"Wither Hit"=true

    #  [default: true]
    B:"Wither Proof"=true

    #  [default: true]
    B:Wooly=true

    #  [default: true]
    B:"XP Attraction Field"=true
}


