# Configuration file

"main options" {
    # DONT TOUCH! OR IT WILL BREAK THE PACK
    B:"Clear Simple Achievements on Every World"=false

    # Setting this to false will stop servers being added and removed from your server list!
    B:"Enable auto add servers to the list"=true
    B:"Enable fix for generating Biomes o Penty End Ores"=true

    # Set this to the same as the ExtraUtils2_Quarry_Dim in the ExtraUtil 2 config
    I:ExtraUtils2_Quarry_Dim=-9999
    B:"Remove Effectiveness from Vanilla Tools"=true

    # Link the Auto server list management will use!
    S:"Servers to the list url"=https://pastebin.com/raw/CbUmURVd
}


worlds {
    S:worlds <
     >
}


